@import "~bootstrap/scss/bootstrap";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "STARWARS";
    src: url("STARWARS.ttf");
}
body{
    
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: "STARWARS";
}
#barra{
    z-index: 100000;
}

nav{
    background-color: black;
    opacity: .7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    width: 100%;
    height: 60px;
    z-index: 9999 !important;
}
h1{
    color: #ffdd01;
    font-size: 45px;
    letter-spacing: .3em;
    margin: 10px 0;
    text-align: center;
}


.items{
    color: #FBDF2A;
    font-size: 20px;
    letter-spacing: .1em;
    margin-right: 20px;
    text-decoration: none;
    padding: 5px;
}
.logo{
    margin-top: 15px;
    width: 100px;
    height: 60px;
}
.logo_imagen{
    width: 100%;
}

.favoritos{
    position: relative;
    

    .favoritos_dropdown{
       border: 1px #FBDF2A solid;
       border-radius: 5px;
       font-size: 16px;
       letter-spacing: .1em;
       padding: 8px 20px;
       color: #FBDF2A;
       text-decoration: none;
       
    }
     .visible{
        position: absolute;
        margin-top: 15px;
        display: block;
        background-color: black;
        
        
    }
    .oculto{
        display: none;
    }
     span{
        color: #FBDF2A;
        cursor: pointer;
     }
     li{
        color: #FBDF2A;
        list-style: none;
     }

}

.footer{
    background-color: black;
    opacity: .7;
    text-align: center;
    height: 60px;
    width: 100%;
    

    p{
        color: #FBDF2A;
        letter-spacing: .1em;
        padding-top: 15px;
    }
}